<div class="dashboard-container">
    <h2>Estadísticas de {{ getMonthName(month) }} {{ year }}</h2>

    <p *ngIf="averageMood > 0">Mood medio mensual: {{ averageMood }}</p>
    <p *ngIf="averageMood === 0">No hay datos para este mes</p>

    <div *ngIf="averageMood > 0" class="charts">
        <div class="chart-container">
            <h3>Distribución de Moods</h3>
            <canvas baseChart
                    [data]="chartData"
                    [type]="chartType"
                    [options]="chartOptions">
            </canvas>
        </div>

        <div class="chart-container">
            <h3>Frecuencia de Tags</h3>
            <canvas baseChart
                    [data]="tagChartData"
                    [type]="tagChartType"
                    [options]="tagChartOptions">
            </canvas>
        </div>
    </div>
</div>