.calendar-container {
  max-width: 920px;
  margin: 40px auto;
  padding: 20px;

  background: var(--bg-card);
  border-radius: 16px;
  border: 2px solid var(--border-soft);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  font-family: 'Inter', sans-serif;
  color: var(--text-main);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.calendar-header h2 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.calendar-header button {
  background: var(--border-soft);
  color: var(--text-main);
  border: 2px solid var(--bg-card-hover);
  padding: 6px 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: all 0.2s ease;
}

.calendar-header button:hover {
  background: var(--bg-card-hover);
  border-color: var(--accent);
}

.calendar-grid {
  width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.day {
  background: var(--bg-card-hover);
  padding: 10px 0;
  border: 2px solid var(--bg-card-hover);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;

  transition: all 0.2s ease;
}

.day:hover {
  transform: translateY(-2px);
}
